@font-face {
  font-family: "Poppins-Medium";
  src: local("Poppins-Medium"),
    url(./fonts/Poppins-Medium.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins-Medium", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainPage{
  margin-bottom: 0 !important;
  background-size: cover;
  transition: 0.4s;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.9)
  ),
  url("./assets/images/background.jpg");
}

.box-pic-text {
  width: "80%";
  margin: "0 auto";
}

.description {
  margin: "-100px 0 100px 125px";
  text-align: "left";
  box-shadow: "0px 3px 0px 15px deeppink, 46px -20px 0px 26px black";
  padding: "1rem";
  font-family: "Poppins-Medium";
}

.card-info {
  margin-top: 10px;
  min-height: 100px;
  font-family: "Poppins-Medium";
}

.card-title {
  color: #eeeeee;
  text-decoration: none;  
  font-size: 1.5rem;
  margin: 0px;
  font-family: "Poppins-Medium";
}

.card-title:hover {
  text-decoration: none;
  color: #ffa600;
}


.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  font-family: "Poppins-Medium";
  /* z-index: -1; */
}

.aboutMe {
  min-height: calc(100vh - 162px);
  font-family: "Poppins-Medium";
}

.contacts {
  min-height: calc(100vh - 115px);
  font-family: "Poppins-Medium";
}

.points {
  color: #EEEEEE;
  font-size: 1.2rem;
  font-family: "Poppins-Medium";
}

.linkedCircles {
  color: #ffa600;
  text-decoration: none;
  margin: 0px;
  margin-right: 15px;
  margin-top: 5px;
}

.linkedCircles:hover {
  color: #65009b;
  text-decoration: none;
}

.visible {
  color: #ffa600;
  display: flex;
  text-decoration: none;
  padding-bottom: 20px;
  margin: auto auto 10px 20px;
  text-align: center;
  vertical-align: top;
}

.visible:hover{
  color: #27003c;
  text-decoration: none;
}

.home-alt {
  text-decoration: none;
  color: black;
  font-family: "Poppins-Medium";
}

.home-alt:hover {
  text-decoration: none;
  color: #65009b;
}

.button {
  position: relative;
  background-color: #ffa600;
  border-radius: 7px 7px;
  border-color: #27003c;
  margin-top: 20px;
  margin-right: 15px;
  margin-bottom: -100px;
  width: 150px;
  font-family: "Poppins-Medium";
}

.button:hover {
  background-color: #65009b;
}

.link {
  text-decoration: none;
  color: #65009b;
  font-size: 1.2rem;
  font-weight: 700;
}

.button:hover .link {
  text-decoration: none;
  color: #ffa600;
}

.carouselArrows{
  background-color: white;
}

.carouselArrows:hover{
  cursor: pointer;
}

@media only screen and (min-width: 1945px) {
  .points {
    font-size: 1.5rem;
    margin-left: 10px;
  }
}

