@font-face {
  font-family: 'Poppins-Medium';
  src: local('Poppins-Medium'),
    url(./fonts/Poppins-Medium.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins-Medium', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainPage {
  margin-bottom: 0 !important;
  background-size: cover;
  transition: 0.4s;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.9)
    ),
    url('./assets/images/background.jpg');
}

.box-pic-text {
  width: '80%';
  margin: '0 auto';
  transition: all 200ms ease-in-out;
}

.description {
  margin: '-100px 0 100px 125px';
  text-align: 'left';
  box-shadow: '0px 3px 0px 15px deeppink, 46px -20px 0px 26px black';
  padding: '1rem';
  font-family: 'Poppins-Medium';
  transition: all 200ms ease-in-out;
}

.card-info {
  margin-top: 10px;
  min-height: 100px;
  font-family: 'Poppins-Medium';
  transition: all 200ms ease-in-out;
}

.title-container-work {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 1rem;
  transition: all 200ms ease-in-out;
}

.title-container {
  display: flex;
  justify-content: space-between;
  transition: all 200ms ease-in-out;
}

.card-title {
  color: #eeeeee;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0px !important;
  font-family: 'Poppins-Medium';
  transition: all 200ms ease-in-out;
}

.card-title-projects:hover {
  text-decoration: none;
  color: #ffa600;
}

.card-title-projects {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0px;
  font-family: 'Poppins-Medium';
  transition: all 200ms ease-in-out;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  font-family: 'Poppins-Medium';
  transition: all 200ms ease-in-out;

  /* z-index: -1; */
}

.aboutMe {
  min-height: calc(100vh - 162px);
  font-family: 'Poppins-Medium';
  transition: all 200ms ease-in-out;
}

.contacts {
  min-height: calc(100vh - 115px);
  font-family: 'Poppins-Medium';
  transition: all 200ms ease-in-out;
}

.points {
  color: #eeeeee;
  font-size: 1.2rem;
  font-family: 'Poppins-Medium';
  transition: all 200ms ease-in-out;
}

.pointsProject {
  color: black;
  font-size: 1.2rem;
  font-family: 'Poppins-Medium';
  transition: all 200ms ease-in-out;
}

.linkedCircles {
  color: #ffa600;
  text-decoration: none;
  margin: 0px;
  margin-right: 15px;
  margin-top: 5px;
  transition: all 200ms ease-in-out;
}

.linkedCircles:hover {
  color: #65009b;
  text-decoration: none;
}

.iconContainer {
  display: flex;
  justify-content: end;
  margin: auto 0px;
  transition: all 200ms ease-in-out;
}

.dates {
  display: block;
  color: #ffa600;
  /* justify-content: end; */
  margin: auto 0px;
  transition: all 200ms ease-in-out;
}

.visible {
  color: black;
  display: flex;
  text-decoration: none;
  margin-left: 50px;
  transition: all 200ms ease-in-out;
}

.visible:hover {
  color: #ffa600;
  text-decoration: none;
}

.home-alt {
  text-decoration: none;
  color: black;
  font-family: 'Poppins-Medium';
  transition: all 200ms ease-in-out;
}

.home-alt:hover {
  text-decoration: none;
  color: #65009b;
}

.button {
  position: relative;
  background-color: #ffa600;
  border-radius: 7px 7px;
  border-color: #27003c;
  margin-top: 20px;
  margin-right: 15px;
  margin-bottom: -100px;
  width: 150px;
  font-family: 'Poppins-Medium';
  transition: all 200ms ease-in-out;
}

.button:hover {
  background-color: #65009b;
}

.button:active {
  background-color: #65009b;
  outline: none;
  transform: scale(0.95);
}

.link {
  text-decoration: none;
  color: #65009b;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 200ms ease-in-out;
}

.button:hover .link {
  text-decoration: none;
  color: #ffa600;
}

.carousel {
  background-color: transparent;
  transition: all 200ms ease-in-out;
}

.carouselArrows {
  background-color: transparent;
  transition: all 200ms ease-in-out;
}

.carouselArrows:hover {
  cursor: pointer;
}

.skillPoints {
  display: flex;
  border: #ffa600 1px solid;
  border-radius: 5px;
  background-color: #ffa600;
  color: #65009b;
  padding: 2px 5px;
  margin: 0px 5px 0px 5px;
  transition: all 200ms ease-in-out;
}
.skillPoints-projects {
  display: flex;
  border: #ffa600 1px solid;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 2px 5px;
  margin: 0px 5px 0px 5px;
  transition: all 200ms ease-in-out;
}

@media only screen and (min-width: 1945px) {
  .points {
    font-size: 1.5rem;
    margin-left: 10px;
  }
  .pointsProjects {
    font-size: 1.5rem;
    margin-left: 10px;
  }
}
